.overlay {
    display: flex;
    position: fixed;
    text-align: center;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    cursor: pointer;
}

.overlay .message
{
    margin: auto;
}